[Unit]
Description=ssh host CA signing daemon
Requires=ssh-hostca.socket
After=network.target

[Service]
PIDFile=/run/ssh-hostca/pid
User=ssh-hostca
Group=ssh-hostca
WorkingDirectory={{ ssh_hostca_workdir }}
Environment="PYTHONPATH=/usr/local/lib/python/site-packages"
Environment="SSH_CADOMAIN={{ ssh_hostca_domain }}"
ExecStart=/bin/gunicorn --pid /run/ssh-hostca/pid ssh_hostca_srv:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
